.input {
	width: 100%;
	padding: 12px;

	background: var(--white);
	box-shadow: var(--box-shadow);
	border-radius: var(--radius-s);

	resize: none;

	&:focus {
		outline: none;
	}

	&::placeholder {
		color: var(--font-color-passive);
		opacity: 1;
	}
}

.multiline {
	height: 150px;
}

.error {
	font-size: var(--font-size-xs);
	color: var(--error-red);
	margin-left: 10px;
}
