:root {
	--chekbox-size: 18px;

	--task-card-width: 249px;

	//Tag
	--tag-height-m: 24px;
	--tag-width-m: 90px;

	--tag-height-s: 24px;
	--tag-width-s: 60px;

	--tag-height-xs: 18px;
	--tag-width-xs: 40px;
}
