:root {
	//colors
	--violet: #eee1fd;
	--green: #baf8cf;
	--red: #fed6cc;
	--orange: #ffdcb6;
	--blue: #b8e6ff;
	--light-green: #d8fcb0;
	--dark-blue: #c6d9ff;
	--yellow: #fff4c7;
	--white: #ffffff;
	--border-color: #cacaca;
	--light-gray: #f5f5f5;
	--gray: #e3e3e3;
	--dark-gray: #d8d7d7;
	--yellow-btn: #ffe445;

	--modal-bg: rgba(0, 0, 0, 0.5);

	--error-red: #ff0000;

	//Font
	--font-size-xs: 12px;
	--font-size-s: 14px;
	--font-size-m: 15px;
	--font-size-l: 16px;

	--font-color-primary: #333333;
	--font-color-secondary: #292929;
	--font-color-comment: #565656;
	--font-color-passive: #929292;

	--font-weight-normal: 400;
	--font-weight-bold: 500;

	//Radius
	--radius-xs: 2px;
	--radius-s: 5px;
	--radius-m: 6px;
	--radius-l: 7px;
	--radius-xl: 11px;

	//Common
	--border: 1px solid var(--border-color);
	--box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);

	//z-index
	--z-index-modal: 10;

	//margins
	--vertical-labels-margen: 20px
}
