.wrapper {
	width: var(--tasks-column-width);
}

.title {
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-l);

	margin-bottom: 15px;
	margin-left: var(--vertical-labels-margen);
}

.content {
	border: var(--border);
	padding: 14px;
	border-radius: var(--radius-l);
}

.item:not(:last-child) {
	margin-bottom: 10px;
}

.btn {
	margin-top: 12px;
}

.plusIcon {
	margin-right: 8px;
}
