@import 'reset';
@import 'vars/global';
@import 'vars/components';
@import 'vars/pages';

* {
	font-size: var(--font-size-m);
	font-family: 'Roboto', sans-serif;
	font-weight: var(--font-weight-normal);
}

body {
	background-color: var(--light-gray);
	line-height: 18px;
}

.app {
	min-height: 100vh;
	padding: 40px;
	margin-left: 130px;
}
