@use '../../styles/mixins';

.wrapper {
	box-sizing: content-box;
	max-width: calc(var(--tasks-column-width) * 3 + 12px * 2);
}

.filters {
	max-width: var(--filters-width);
	margin-bottom: 80px;
}

.columns {
	@include mixins.flexible(space-between, flex-start);
}
