@use '../../../styles/mixins';

.wrapper {
	padding: 12px;
	width: var(--popup-width);
	font-size: var(--font-size-s);
	background-color: var(--white);
	box-shadow: var(--box-shadow);
	border-radius: var(--radius-m);
}

.list {
	list-style: none;
}

.item {
	cursor: pointer;

	&:not(:last-child) {
		margin-bottom: 8px;
	}
}

.close {
	position: absolute;
	top: 9px;
	right: 9px;
	cursor: pointer;
}
