.tag {
  border-radius: 2px;
}

.violet {
  background-color: var(--violet);
}

.green {
  background-color: var(--green);
}

.red {
  background-color: var(--red);
}

.orange {
  background-color: var(--orange);
}

.blue {
  background-color: var(--blue);
}

.light-green {
  background-color: var(--light-green);
}

.dark-blue {
  background-color: var(--dark-blue);
}

.yellow {
  background-color: var(--yellow);
}

.M {
  height: 24px;
  width: 90px;
}

.S {
  height: 24px;
  width: 60px;
}

.XS {
  height: 18px;
  width: 40px;
}