.tag {
	border-radius: var(--radius-xs);
}

.violet {
	background-color: var(--violet);
}

.green {
	background-color: var(--green);
}

.red {
	background-color: var(--red);
}

.orange {
	background-color: var(--orange);
}

.blue {
	background-color: var(--blue);
}

.lightGreen {
	background-color: var(--light-green);
}

.darkBlue {
	background-color: var(--dark-blue);
}

.yellow {
	background-color: var(--yellow);
}

.M {
	height: var(--tag-height-m);
	width: var(--tag-width-m-m);
}

.S {
	height: var(--tag-height-s);
	width: var(--tag-width-s);
}

.XS {
	height: var(--tag-height-xs);
	width: var(--tag-width-xs);
}
