@use "../../styles/mixins";

.card {
  width: var(--task-card-width);

  padding: 12px;

  background: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: var(--radius-m);

  cursor: pointer;
}

.topSide {
  @include mixins.flexible(space-between, flex-start);
  margin-bottom: 10px;
}

.moreBtn {
  padding: 5px 0;
  display: flex;
}

.bottomSide {
  @include mixins.flexible(space-between, flex-end);
}

.tags {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.indicators {
  display: flex;
}
//  &_content {
//    &__title {
//      max-width: 190px;
//      word-wrap: break-word;
//
//      margin-bottom: 10px;
//      font-size: 15px;
//      line-height: 15px;
//
//      color: #333333;
//    }
//
//    &__tags {
//      display: grid;
//      grid-template-columns: repeat(4, 1fr);
//      column-gap: 6px;
//      row-gap: 6px;
//    }
//  }
//
//  &_btnGroup {
//    width: 100%;
//    display: flex;
//    flex-direction: column;
//    justify-content: space-between;
//    align-items: end;
//  }
//}