@use '../../../styles/mixins';

.wrapper {
	width: var(--tags-list-width);
	user-select: none;
	position: relative;
}

.tagsList {
	@include mixins.flexible(space-between);
	background-color: var(--gray);
	padding: 10px;
	border-radius: var(--radius-s) var(--radius-s) 0 0;
	cursor: pointer;
}

.dropList {
	background-color: var(--dark-gray);
	padding: 10px 30px 10px 10px;
	height: var(--tags-list-height);
	overflow: scroll;
	border-radius: 0 0 var(--radius-s) var(--radius-s);
	position: absolute;
	width: var(--tags-list-width);
	cursor: pointer;
	z-index: var(--z-index-modal);
}

.item {
	@include mixins.flexible(space-between);

	&:not(:last-child) {
		margin-bottom: 10px;
	}
}

.checkbox {
	margin-left: 20px;
}
