name: CI

on: [ push, workflow_dispatch ]

jobs:
  testCommit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 16
      - name: install
        run: npm ci
#       - name: testing
#         run: npm run test:unit
      - name: linting
        run: npm run lint
      - name: ending
        run: echo the process is completed
